Source: mpd-watchdog
Section: contrib/sound
Priority: extra
Maintainer: Thomas Kemmer <tkemmer@computer.org>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.4
Homepage: https://github.com/gitkemmer/mpd-watchdog

Package: mpd-watchdog
Architecture: all
Depends: mpc, bsdutils, ${misc:Depends}
Enhances: mpd, mopidy
Description: monitor mpd while playing internet streams
 Simple watchdog for monitoring Music Player Daemon (MPD/Mopidy) while
 streaming internet radio stations.
